S21  - MODBUS TCP_IP Server/modbus_tcpip_ios.json
[
    {
        "id": "b048dbf288b327d7",
        "type": "tab",
        "label": "Node-RED Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a479d9e6240e8d3",
        "type": "inject",
        "z": "b048dbf288b327d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "ca34cb1b12d11c05",
                "f714e432d3af25c6",
                "c41146fc81d3452d",
                "45ca1cf479bdd282"
            ]
        ]
    },
    {
        "id": "78fcc07f549d6f5f",
        "type": "debug",
        "z": "b048dbf288b327d7",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "7d5f32da3dcfd952",
        "type": "comment",
        "z": "b048dbf288b327d7",
        "name": "Read",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "e4fdeb936531b1b0",
        "type": "debug",
        "z": "b048dbf288b327d7",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "d0da7195bd7f42b4",
        "type": "comment",
        "z": "b048dbf288b327d7",
        "name": "Write",
        "info": "",
        "x": 110,
        "y": 420,
        "wires": []
    },
    {
        "id": "171cbfbbe073529b",
        "type": "ui_slider",
        "z": "b048dbf288b327d7",
        "name": "AO0",
        "label": "Analog Output Ch0",
        "tooltip": "",
        "group": "8df039b6e5504f5b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "10.0",
        "step": "0.1",
        "className": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "43473ab57b933180"
            ]
        ]
    },
    {
        "id": "49af6e6f60bda054",
        "type": "ui_switch",
        "z": "b048dbf288b327d7",
        "name": "",
        "label": "OUT0",
        "tooltip": "",
        "group": "8df039b6e5504f5b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "419c3dfa44aff25b"
            ]
        ]
    },
    {
        "id": "c5b297979d48a632",
        "type": "ui_switch",
        "z": "b048dbf288b327d7",
        "name": "",
        "label": "OUT1",
        "tooltip": "",
        "group": "8df039b6e5504f5b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "2149b13bde9ba19d"
            ]
        ]
    },
    {
        "id": "f94e58e66eb484f7",
        "type": "debug",
        "z": "b048dbf288b327d7",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "7c3a3ae4e0d83011",
        "type": "ui_slider",
        "z": "b048dbf288b327d7",
        "name": "AO1",
        "label": "Analog Output Ch1",
        "tooltip": "",
        "group": "8df039b6e5504f5b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "10.0",
        "step": "0.1",
        "className": "",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "6895b40f47a91b23"
            ]
        ]
    },
    {
        "id": "7044a83b74337909",
        "type": "ui_led",
        "z": "b048dbf288b327d7",
        "order": 1,
        "group": "d21cb262af099c4c",
        "width": "3",
        "height": "1",
        "label": "IN0",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00ff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "IN0",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "c69761ec6a961f8d",
        "type": "ui_led",
        "z": "b048dbf288b327d7",
        "order": 1,
        "group": "d21cb262af099c4c",
        "width": "3",
        "height": "1",
        "label": "IN1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00ff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "IN1",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "1884a2d7ff31caf0",
        "type": "ui_led",
        "z": "b048dbf288b327d7",
        "order": 1,
        "group": "d21cb262af099c4c",
        "width": "3",
        "height": "1",
        "label": "OUT0",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00ff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "OUT0",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "14b63977191917a1",
        "type": "ui_led",
        "z": "b048dbf288b327d7",
        "order": 1,
        "group": "d21cb262af099c4c",
        "width": "3",
        "height": "1",
        "label": "OUT1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00ff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "OUT1",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "8ee232b5b0ee718d",
        "type": "function",
        "z": "b048dbf288b327d7",
        "name": "function 1",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            [
                "7044a83b74337909"
            ]
        ]
    },
    {
        "id": "53d6665cbb83d274",
        "type": "function",
        "z": "b048dbf288b327d7",
        "name": "function 2",
        "func": "msg.payload = msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 140,
        "wires": [
            [
                "c69761ec6a961f8d"
            ]
        ]
    },
    {
        "id": "97b0d70a75ecb528",
        "type": "function",
        "z": "b048dbf288b327d7",
        "name": "function 4",
        "func": "msg.payload = msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "14b63977191917a1"
            ]
        ]
    },
    {
        "id": "9f8d5344b91d5a5d",
        "type": "function",
        "z": "b048dbf288b327d7",
        "name": "function 3",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "1884a2d7ff31caf0"
            ]
        ]
    },
    {
        "id": "249447da99e75b79",
        "type": "function",
        "z": "b048dbf288b327d7",
        "name": "function 5",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 300,
        "wires": [
            [
                "4d07666817ce74fb"
            ]
        ]
    },
    {
        "id": "46c7e033aa730ace",
        "type": "ui_gauge",
        "z": "b048dbf288b327d7",
        "name": "",
        "group": "d21cb262af099c4c",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Analog Input Ch0",
        "label": "Voltage",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "10.0",
        "colors": [
            "#ff8080",
            "#e6e600",
            "#2dd567"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "4d07666817ce74fb",
        "type": "range",
        "z": "b048dbf288b327d7",
        "minin": "0",
        "maxin": "65535",
        "minout": "0.0",
        "maxout": "10.0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "46c7e033aa730ace"
            ]
        ]
    },
    {
        "id": "92d538c1636e84f4",
        "type": "function",
        "z": "b048dbf288b327d7",
        "name": "function 6",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "29d8c67421fb21e9"
            ]
        ]
    },
    {
        "id": "fd249c71bcbfbc59",
        "type": "ui_gauge",
        "z": "b048dbf288b327d7",
        "name": "Analog Output Ch0",
        "group": "d21cb262af099c4c",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Analog Output Ch0",
        "label": "Voltage",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "10.0",
        "colors": [
            "#ff8080",
            "#e6e600",
            "#2dd567"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "29d8c67421fb21e9",
        "type": "range",
        "z": "b048dbf288b327d7",
        "minin": "0",
        "maxin": "65535",
        "minout": "0.0",
        "maxout": "10.0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 700,
        "y": 340,
        "wires": [
            [
                "fd249c71bcbfbc59"
            ]
        ]
    },
    {
        "id": "aa3a120ce9c74351",
        "type": "function",
        "z": "b048dbf288b327d7",
        "name": "function 7",
        "func": "msg.payload = msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 380,
        "wires": [
            [
                "beca15e881932b5f"
            ]
        ]
    },
    {
        "id": "67d20afd2d417456",
        "type": "ui_gauge",
        "z": "b048dbf288b327d7",
        "name": "Analog Output Ch1",
        "group": "d21cb262af099c4c",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Analog Output Ch1",
        "label": "Voltage",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "10.0",
        "colors": [
            "#ff8080",
            "#e6e600",
            "#2dd567"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "beca15e881932b5f",
        "type": "range",
        "z": "b048dbf288b327d7",
        "minin": "0",
        "maxin": "65535",
        "minout": "0.0",
        "maxout": "10.0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 700,
        "y": 380,
        "wires": [
            [
                "67d20afd2d417456"
            ]
        ]
    },
    {
        "id": "43473ab57b933180",
        "type": "range",
        "z": "b048dbf288b327d7",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "65535",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "e95cfe96006be832",
                "fed8c7f3af84c548"
            ]
        ]
    },
    {
        "id": "6895b40f47a91b23",
        "type": "range",
        "z": "b048dbf288b327d7",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "65535",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 260,
        "y": 640,
        "wires": [
            [
                "7b5d32c1a1264c96",
                "b0f24087906d6958"
            ]
        ]
    },
    {
        "id": "ca34cb1b12d11c05",
        "type": "modbus-getter",
        "z": "b048dbf288b327d7",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "Input",
        "adr": "0",
        "quantity": "2",
        "server": "cf1130a27f1da8eb",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "78fcc07f549d6f5f",
                "8ee232b5b0ee718d",
                "53d6665cbb83d274"
            ],
            []
        ]
    },
    {
        "id": "f714e432d3af25c6",
        "type": "modbus-getter",
        "z": "b048dbf288b327d7",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "2",
        "server": "cf1130a27f1da8eb",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "9f8d5344b91d5a5d",
                "97b0d70a75ecb528",
                "e4fdeb936531b1b0"
            ],
            []
        ]
    },
    {
        "id": "c41146fc81d3452d",
        "type": "modbus-getter",
        "z": "b048dbf288b327d7",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "1",
        "server": "cf1130a27f1da8eb",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "249447da99e75b79",
                "f94e58e66eb484f7"
            ],
            []
        ]
    },
    {
        "id": "45ca1cf479bdd282",
        "type": "modbus-getter",
        "z": "b048dbf288b327d7",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "2",
        "server": "cf1130a27f1da8eb",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 340,
        "y": 360,
        "wires": [
            [
                "92d538c1636e84f4",
                "aa3a120ce9c74351",
                "f94e58e66eb484f7"
            ],
            []
        ]
    },
    {
        "id": "419c3dfa44aff25b",
        "type": "modbus-write",
        "z": "b048dbf288b327d7",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "cf1130a27f1da8eb",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 320,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2149b13bde9ba19d",
        "type": "modbus-write",
        "z": "b048dbf288b327d7",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "cf1130a27f1da8eb",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 320,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e95cfe96006be832",
        "type": "modbus-write",
        "z": "b048dbf288b327d7",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "cf1130a27f1da8eb",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7b5d32c1a1264c96",
        "type": "modbus-write",
        "z": "b048dbf288b327d7",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "cf1130a27f1da8eb",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fed8c7f3af84c548",
        "type": "debug",
        "z": "b048dbf288b327d7",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 540,
        "wires": []
    },
    {
        "id": "b0f24087906d6958",
        "type": "debug",
        "z": "b048dbf288b327d7",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "fc470a48c5b9ac1a",
        "type": "ui_spacer",
        "z": "b048dbf288b327d7",
        "name": "spacer",
        "group": "d21cb262af099c4c",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "8df039b6e5504f5b",
        "type": "ui_group",
        "name": "Write to Micro850 PLC",
        "tab": "d7901f40.2659d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d21cb262af099c4c",
        "type": "ui_group",
        "name": "Read from Micro850 PLC",
        "tab": "d7901f40.2659d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf1130a27f1da8eb",
        "type": "modbus-client",
        "name": "Micro850",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "192.168.0.67",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "d7901f40.2659d",
        "type": "ui_tab",
        "name": "Micro850 PLC",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]